@import '../../variables.scss';

.content {
  padding: 15px;
  width: 100%;
  display: flex;
}

.grid {
  margin: 0 auto;
  @include sm {
    width: 100%;
  }

  @include md {
    width: 90%;
  }

  @include lg {
    width: 80%;
  }
}

.loading {
  .loader {
    margin: 50px auto;
    height: 100%;
  }
  overflow-y: hidden;
  justify-content: space-around;
  flex-direction: column;
  height: calc(100vh - 80px);
  width: 100%;
}