@import '../../variables.scss';

.logoutButton {
  float: right;
}

.topBar {
  background-color: $base_color;
  padding: 8px 10px;
  position: sticky;
  top: 0;
  z-index: 10;

  .navigation {
    width: 100px;
    height: 100%;
    display: flex;

    .link {
      padding: 0px 10px;
      font-size: 18px;
    }
  }
}