@import '../../variables.scss';

.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 10px auto;
  height: 214px;

  @include sm {
    width: 240px;
  }

  @include md {
    width: 210px;
  }
  
  .thumbnail {
    position: relative;
    width: 210px;
    img {
      height: 110px;
      width: 100%;
      transition-duration:0.5s;
      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }
    }

    .addForLater {
      position: absolute;
      left: 10px;
      top: 5px;
      z-index: 9;
      color: white;
      transition-duration:0.5s;
      opacity: 0.4;

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }
  }
}

.ellipsis {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}